<h2>Price Plans</h2>
<div>
  <div id="data_field">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Interval</th>
          <th scope="col">Price</th>
          <th scope="col">Discount</th>
        </tr>
      </thead>
      <tbody >
        <tr *ngFor="let item of items" routerLink="/priceplan-details/{{item.id}}">
        <th scope="row" >{{item.id}}</th>
          <td>{{item.name}}</td>
          <td>{{item.interval}}</td>
          <td>{{item.price}}</td>
          <td>{{item.discount}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
