<h2>Price Plan details</h2>
<hr />
<div id='pdf' class="col-sm-10">
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <div class="form-group">	
                    <h4><label><strong>ID: </strong>{{data.id}}</label></h4>
					<h4><label><strong>Plan name: </strong>{{data.name}}</label></h4>
					<h4><label><strong>Price: </strong>{{data.price}},- €</label></h4>
					<h4><label><strong>Interval: </strong>{{data.interval}}</label></h4>
					<h4><label><strong>Discount: </strong>{{data.discount.amount}} %</label></h4>
                </div>
			</div>
			<button id="downloadButton" type="button" class="btn btn-danger" (click)="downloadPDF()">Download</button>
		</div>
	</div>
</div>