<h2>Subscription details</h2>
<hr />
<div class="col-sm-10">
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <div class="form-group">	
                    <h4><label><strong>ID: </strong>{{data.id}}</label></h4>
					<h4><label><strong>Customer ID: </strong>{{data.customer_id}}</label></h4>
					<h4><label routerLink="/priceplan-details/{{ data.price_plan_id }}"><strong>Priceplan</strong> {{data.price_plan_id}}</label></h4>
					<h4><label><strong>Start date: </strong>{{data.created_at}}</label></h4>
                </div>
			</div>
		</div>
	</div>
</div>